CLIENTID=
SECRETID=
CALLBACKURL=http://localhost:3000/google/callback

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:3000/github/callback

MYSQLHOST=localhost
MYSQLUSER=root
MYSQLPASS=
MYSQLBBDD=chat

PORT=3000
SECRET=dqweqweqweqweqertegtdfsadghrtyeawfadsghtsryertawfsdvfgzdret
